<%- include('partials/header') %>


<h2>this is landing page</h2>
<p>welcome to Tripcamp</p>

<a href="/campground/new">Add a new campground</a><br>
<a href="/campground">campground</a>


<%- include('partials/footer') %>


