<%- include('./partials/header') %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center;">Sign up</h3>
            <form action="/register" method="POST">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Register</button>
            </form>
    </div>
</div>
<%- include('./partials/footer') %>